<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.sumonmondal.ThreadApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>threadapp</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>ElevenLabsAPIKey</key>
	<string>$(ELEVENLABS_API_KEY)</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Thread connects to the Thread server running on your Mac.</string>
</dict>
</plist>
